div.toolbarseperator{
height:100px;
}
h1{
	font-family: 'Droid Serif', Georgia, Times, serif;
}
h1.titleheader{
	font-weight:strong;
	font-style:italic;
}
h1.dashboardheader{
	margin-bottom:10px !important;
}
form.signupform{
	width:40%;
	float:left;
}

div.helptextsignup{
	width:40%;
	height:200px;
	margin-left:100px;
	float:left;
	background: rgba(0,0,0,0.8);
	color:white;
}

input.signupbutton{
	width:127%;
}
input.saveandcontinue{
	margin-left: -90px
}
div.sectioncontainer{
	width:20%;
}
div.selectiontile{
	height:300px;
	float:left;
	background-color:black;
	color:white;
	width:300px;
	margin-left:0px !important;
	cursor:pointer;
}
div.selectioncontainer{
	height:650px;
}
h3.editsectionheader{
	border-bottom: 2px solid #ccc;
	text-align:center
}
input.addsectioninput{
	width:90%;
	display:block;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	height:50px
}
button.savesection{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	margin-top:20px;
}
h3.addsectionheader{
	font-weight:bold;
	text-align:center;
}
h4.helpheader{
	text-align:center;
}

li.menustylestable{
	width:100%;
}
img.bannerimagedisplay{
	height:120px;
	width:100%;
}
img.companylogodisplay{
	height:100%;
	margin-top:30px
}
div.bannerimageholder{
	border: 2px solid #ccc;
	margin-top:30px;
	margin-left:70px;
	position:relative;
}
	
div.sectiontitle{
	margin-bottom:30px;
}
button.deletebannerimage{
	position:absolute;
	right:0px;
	top:0px;
}
div.bannerimagesection{
}
div.floatright{
	float:right;
}
div.footerseperator{
	width:100%;
	height:50px;
}
span.helpicon{
	margin-left:20px
}
div.companylogosection{
	margin-top:30px
}
button.addnewbuttonsection{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

div.addmenuitemcontainer{
	position:relative;
}

button.addmenuitemsbutton{
	position : absolute;
	right:0px;
	top:0px;
}
div.addsection{
	position:fixed;
	width:400px;
	border:3px solid #ccc;
	height:210px;
	left:35%;
	top:30%;
	z-index:99999999;
	background:white;

}
button.closeaddsection{
	position:absolute;
	top:0px;
	right:0px;
}
div.show{
display:block !important;
}
h3.menusectionheader{
	font-weight:bold;
	font-style:italic;
	text-align:center;
}

h4.nomenuitems{
	text-align:center;
	margin-top:40px;
}
input#addmenuitemimage{
	width:200px;
	float:left;
}
