{%extends "base.html" %}
{% block base_content %}
<div class= "row">
	<div class="alert alert-success" style = "display:none" ng-show="show"  ng-controller="SuccessAlertController">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>
		{[{successmessage}]}
		</strong>
	</div>
	{%if errormessage %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{errormessage}}</strong>
	</div>
	{%endif%}
</div>	
	<div class= 'section_header sectiontitle addmenuitemcontainer'>
		<h1 class="titleheader dashboardheader">  Add Menu Items  </h1>
	</div>	

	<h5>Add a menu item by choosing an image or clicking the "Add Item" button</h5>

		<div class ="span12" ng-controller = "AjaxUploadFileController">
				<input type = "file" id = "addmenuitemimage" name = "addpictures"  ng-file-select="onFileSelect($files)" multiple>
				<button class = "btn btn-primary" >Add Item Without a Picture</button>

		</div>

		<div class= "span12"  >

		</div>	

{%endblock base_content%}	

{%block add_script%}


{%endblock add_script %}