{%comment%} Check to see if there are any items {%endcomment%}
{% if items.count > 0 %}
{%else%}
{%comment%} If User is admin {%endcomment%}
	{% if isadmin %}
		<h4 class="nomenuitems"> You have no items added. Add some items to your menu</h4>
	{%else%}
		<h4 class= "nomenuitems"> There are no menu items under this section </h4>
	{%endif%}
{%endif%}
