{%extends "base.html" %}
{% block base_content %}
<div class= "row">
	<div class="alert alert-success" style = "display:none" ng-show="show"  ng-controller="SuccessAlertController">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>
		{[{successmessage}]}
		</strong>
	</div>
	{%if errormessage %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{errormessage}}</strong>
	</div>
	{%endif%}
	<div class= 'section_header sectiontitle addmenuitemcontainer'>
		<h1 class="titleheader dashboardheader">  Menu Dashboard </h1>
		<a href = "/menuitem/addmenuitems">
			<button class = "btn btn-info btn-lg addmenuitemsbutton">Add Menu Items </button>
	</a>
	</div>
</div>	
<div ng-controller="MenuDashboardController" >
	<div class= "span3" style ="position:relative" ng-controller= "MenuSectionController" ng-init="getSections({{user.id}});" >
		<ul class= "nav nav-pills"   >
			<li  class= "menustylestable" ng-repeat='section in sections' ng-class= "{active:section.name == sectionnameopen }" id = "{[{section.name}]}menulist">
			<a href="" ng-click="showSection(section.name,section.id)">{[{section.name}]} </a>
			</li>
		</ul >	
		<button class= "btn btn-success btn-lg addnewbuttonsection" ng-click="showaddsection = true">Add New Section</button>
		<div class="addsection" ng-show = "showaddsection" >
			<h3 class= "addsectionheader">Add Menu Section</h3>
			<input type = "text"  class= "addsectioninput" placeholder="Add a Section Name" ng-model="addsectionname">
			<button class="btn-success btn btn-lg savesection" ng-click="saveNewSection()">Save</button>
			<button class= "btn btn-danger closeaddsection" ng-click="">X</button>
			
		</div>	
	</div>
	<div  ng-controller = "SectionItemsController">
		<div class= "span8 menusectioncontainer" ng-repeat= 'section in sections'  ng-hide="section.name != sectionnameopen" id ="{[{section.name}]}container"> 
			<h3 class= "menusectionheader">{[{section.name}]}</h3>
			<div class="menuitemcontainer" id = "{[{section.name}]}menuitems" >
			</div>
		</div>		
	</div>	

</div>	
{%endblock base_content %}
