{% extends "base.html" %}
{%block base_content %}
<div class= "row">
	<div class="alert alert-success" style = "display:none" ng-show="show"  ng-controller="SuccessAlertController">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>
		{[{successmessage}]}
		</strong>
	</div>
	{%if errormessage %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>{{errormessage}}</strong>
	</div>
	{%endif%}
	<div class= 'section_header sectiontitle'>
		<h1 class="titleheader dashboardheader"> Edit Menu Styles </h1>
	</div>
</div>	
<div ng-controller="MenuStyleMenuController">
	<div class= "span3" >
		<ul class= "nav nav-pills">
			<li class="active menustylestable" id = "bannerimagelist">
				<a href=""  ng-click="showMenuItem('bannerimage')">Banner Image and Logo</a>
			</li>
			<li class = "menustylestable" id = "previewlist">
				<a href = "" ng-click="showMenuItem('preview')" >Preview Menu </a>
			</li>
		</ul>	
	</div>	
	<div class= "span8 bannerimagesection floatright" ng-show = "showbannerimagecontainer"  ng-controller="BannerImageController">
			<h3 class ="editsectionheader"> Edit Menu Banner Images</h3>
			<form id = "menubannerimageform" method="post" enctype="multipart/form-data" >
				{%csrf_token%}
				<input type = "hidden" name = "uploadtype" value ="bannerimage"	>
				<h4> Add Banner Images <span class="glyphicon glyphicon-info-sign"></span></h4>
				<input type = "file"  name="uploadimages" id = "bannerimageupload"  multiple></input>
			</form>
			{%comment%} Check to see if user has any banner images uploaded {%endcomment%}
			{% if bannerimages.count != 0 %}
				{% for bannerimage in bannerimages %}
				<div class="span3 bannerimageholder" id ="bannerimageholder{{bannerimage.id}}">
					<button class="btn btn-danger deletebannerimage" ng-click="deleteBannerImage({{bannerimage.id}})">
						<span class="glyphicon glyphicon-remove-circle helpicon"></span>
					</button>
					<img src="{{MEDIA_URL}}{{bannerimage.url}}" class="bannerimagedisplay">
				</div>
				{%endfor%}

			{%else

%
				<h4 class="helpheader" >You have not uploaded any banner images, upload one to make your menu look better!</h4>
			{%endif%}
			
		</div>	
		<div class= "span8 companylogosection floatright" ng-show = "showbannerimagecontainer"  ng-controller="CompanyLogoController">
	<h3 class ="editsectionheader"> Edit Company Logo </h3>
	<div class= "uselogocontainer">  
			<form id = "menucompanylogoform" method="post" enctype="multipart/form-data" >
				{%csrf_token%}
				<input type = "hidden" name = "uploadtype" value ="companylogo"	>
				<h4> Add Company Logo<span class="glyphicon glyphicon-info-sign helpicon"></span></h4>
				<input type = "file"  name="uploadimages" id = "companylogoupload"  ></input>
			</form>
			{% comment %} If a companylogo exists {%endcomment%}
			{%if menustyle.logourl %}
				<img src="{{MEDIA_URL}}{{menustyle.logourl}}" class="companylogodisplay">
			{% else %}
			<h4 class="helpheader">Upload your company logo </h4>
			{%endif%}
	</div>
		</div>	
</div>		
{%endblock base_content %}
