<h3 class ="editsectionheader"> Edit Company Logo </h3>
	<div class= "uselogocontainer">  
			<form id = "menucompanylogoform" method="post" enctype="multipart/form-data" >
			<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token_value }}'/></div>
				<input type = "hidden" name = "uploadtype" value ="companylogo"	>
				<h5> Add Company Logo<span class="glyphicon glyphicon-info-sign"></span></h5>
				<input type = "file"  name="uploadimages" id = "companylogoupload"  ></input>
			</form>
			{% comment %} If a companylogo exists {%endcomment%}
			{%if menustyle.logourl %}
				<img src="{{MEDIA_URL}}{{menustyle.logourl}}" class="companylogodisplay">
			{% else %}
			<h4 class="helpheader">Upload your company logo </h4>
			{%endif%}
	</div>		

