<!DOCTYPE html>
<html ng-app="Menuify">
<head>
	<title>Menuify</title>
    <script>
    CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <!-- Styles -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-overrides.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/theme.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/index.css" type="text/css" media="screen" />
<link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    {% block add_styles%}
    {%endblock add_styles%}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/lib/animate.css" media="screen, projection">    

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">
                <strong>CLEAN CANVAS</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="index.html" class="active">HOME</a></li>
                    <li><a href="about-us.html">ABOUT US</a></li>
                    <li><a href="pricing.html">SignUp</a></li>
                    <li><a href="contact.html">Login</a></li>
  
                </ul>
            </div>
        </div>
      </div>
    </div>
<div class="row toolbarseperator" >
</div>    
    <div class ="container">
        {% block base_content%}
        {%endblock base_content%}

    
    </div>
<div class ="footerseperator"></div>

    

    <!-- starts footer -->
    <footer id="footer">
        
            <div class="container">
            <div class="row info">
                <div class="span6 residence">
                    <ul>
                        <li>203 - 815 Main Street, West Vancouver, BC V7T 2Z3</li>
                        
                    </ul>
                </div>
                <div class="span5 touch">
                    <ul>
                        <li><strong>P.</strong> 604.925.9260</li>
                        <li><strong>E.</strong><a href="#"> bootstrap@veritaslaw.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 Veritas Law. All rights reserved. 
                        </div>
                    </div>
                </div>            
            </div>
        </div>
     
            
    </footer>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/theme.js"></script>
        <script src="{{STATIC_URL}}js/angular-file-upload-shim.min.js"></script>
    <script src="{{STATIC_URL}}js/angular.min.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/index-slider.js"></script>	


    {% block add_script %}
    {% endblock add_script %}

</body>
</html>