{% extends "base.html" %}
{%block base_content %}
<div class= "row">
	<div class= 'section_header'>
		<h1 class="titleheader dashboardheader"> Dashboard </h1>
	</div>
</div>	
	<h3> Welcome {{user.first_name}} {{user.last_name}}</h3>
	<div class= "span12 selectioncontainer">
		<div class= "span4 selectiontile">
			<a href= "/menustyle/editmenustyle">Edit Menu Styles</a>
		</div>	
		<div class= "span4 selectiontile">
			<a href= "/menuitems/editmenuitems">Edit Menu Items</a>
		</div>
		<div class= "span4 selectiontile">
		</div>
		<div class= "span4 selectiontile">
		</div>
		<div class= "span4 selectiontile">
		</div>
		<div class= "span4 selectiontile">
		</div>
	</div>	
</div>
{%endblock base_content %}
