{% extends "base.html" %}
{% load crispy_forms_tags %}
{%block base_content %}
<div class= "row">
	<div class= 'section_header'>
		<strong><h1 class="titleheader"> Signup </h1></strong>
	</div>	
</div>
{% crispy signupform signupform.helper %}
<div class="helptextsignup">
</div>	
{%endblock base_content %}